{% extends 'base.html' %} 

{% block title %}Delete Issue{% endblock title %} 

{% block content %}
<h1>Delete Issue</h1>
<div class="data-forms">
    <p>Are you sure you want to delete issue #{{issue.id}}</p>
    <form method="POST">
        {% csrf_token %}
        <div class="buttons">
            <input value="Delete" type="submit" class="btn btn-danger">
            <a href="{% url 'detail' issue.id %}" class="btn btn-primary">Cancel</a>
        </div>
        
    </form>
</div>

{% endblock content %}